
link(href='css/css.css', rel='stylesheet')
h1
  span.blue <
  | Table
  span.blue >
  span.yellow Responsive
h2
  | Created with love by 
  a(href='http://pablogarciafernandez.com', target='_blank') Pablo García Fernández
table.container
  thead
    tr
      th
        h1 NAME
      th
        h1 LOCALE
      th
        h1 ESTABLISHED
      th
        h1 VIEW
  tbody


  script(src='js/main.js')

      
       
                