extends ../layout

block content
	br
	br
	br
	br
	br
	br
	br
	.container.contactform.center
		h2.text-center.wowload.fadeInUp List of Philippine State Schools, Colleges and Universities
		p.text-center.wowload.fadeInUp Fill out the form below for the additional to the List of Philippine State Schools, Colleges and Universities
		p.text-center.wowload.fadeInUp Please observe the correct format in filling out the form:
		.row.wowload.fadeInLeftBig
			.col-sm-6.col-sm-offset-3.col-xs-12
				form#formAddBlob(name="addblob",method="post",action="/blobs")
					p Name: 
							input#inputName(type="text", placeholder="ex. Polytechnic University of the Philippines", name="name", required='', autocomplete='off')
					p Locale: 
							input#inputLocale(type="text", placeholder="ex. NCR", name="locale", required='', autocomplete='off')
					p President: 
							input#inputPresident(type="text", placeholder="ex. Emanuel C. De Guzman", name="president", required='', autocomplete='off')
					p Established:
							input#inputEstablished(type="number", placeholder="ex. 1908", name="established", required='', autocomplete='off')
					p Population: 
							input#inputPopulation(type="number", placeholder="ex. 52,405", name="population", required='', autocomplete='off')
					p Website: 
							input#inputWebsite(type="text", placeholder="ex. https://www.pup.edu.ph/", name="website", required='', autocomplete='off')
					p Social-Page: 
							input#inputSocial-Page(type="text", placeholder="ex. https://www.facebook.com/ThePUPOfficial/", name="social", required='', autocomplete='off')
					p Image Link: 
							input#inputImageLink(type="text", placeholder="ex. https://upload.wikimedia.org/wikipedia/en/thumb/3/32/Seal_of_Polytechnic_University_of_the_Philippines.svg/1026px-Seal_of_Polytechnic_University_of_the_Philippines.svg.png", name="image", required='', autocomplete='off')
					p Date and Time: 
							input#inputDob(type="date", name="dob", required='', autocomplete='off')
					button.btn.btn-primary(type="submit")
						i.fa.fa-paper-plane
						|  Submit
	br
	br
	// Footer Starts
	.footer.text-center.spacer
		p.wowload.flipInX
			a(href='#')
				i.fa.fa-facebook.fa-2x
			a(href='#')
				i.fa.fa-instagram.fa-2x
			a(href='#')
				i.fa.fa-twitter.fa-2x
			a(href='#')
				i.fa.fa-flickr.fa-2x
		| © 2016 COEN 3463  Module 3 Team 13
	// # Footer Ends

	// jquery
	script(src='assets/jquery.js')
	// wow script
	script(src='assets/wow/wow.min.js')
	// boostrap
	script(src='assets/bootstrap/js/bootstrap.js', type='text/javascript')
	// jquery mobile
	script(src='assets/mobile/touchSwipe.min.js')
	script(src='assets/respond/respond.js')
	// gallery
	script(src='assets/gallery/jquery.blueimp-gallery.min.js')
	// custom script
	script(src='assets/script.js')
